
body {
  background: #e9e9e9;
  font-size: 16px;
  line-height: 1.45em;
  width: %;
}

header {
  background-color: ##e9e9e9;
  text-align: center;
  margin-bottom: 20px;
  padding: 0.5em;
  border: 10px solid #fff;
  border-radius: 5em;
}

.site-logo {
    position: relative;
    font-size: 2.5em;
    float: right;
    margin-right: 0.25em;
    margin-bottom: 1em;
}

/* Set the layout of the menu: */
.menu-container {
    background-color:;
    margin: 0;
    padding: 0;
}

.menu-item {
    display: inline-block;
    width: 8em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    color: #c70015;
    background-color: #ffffff;
    border-radius: 10px;
}

/* Style the links: */
.menu-item:hover, .dropdown:hover {
    color: #fff;
    background-color: #c70015;
}

/* Add a dropdown feature: */
.dropdown {
    display: inline-block;
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 3px solid #c70015;
    margin: 0;
    color: #000;
    background-color: #fff;
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    background-color: #c70015;
    color: #fff;
}



p {
  font-family: 'ABeeZee', sans-serif;
  color: #133436;
  padding: 10px;
  width: 50%;
}

p::first-letter {
  font-size: 1.5em;
}

h1 {
  font-family: 'Crete Round', serif;
  color: #133436;
  margin-bottom: 50px;
  margin-top: 20px;
  background-color: #b1e8eb;
  padding: 15px;

}

h2 {
  font-family: 'Crete Round', serif;
  font-size: 1.25em;
  color: #cf9d04;
  margin-bottom: 30px;
  text-indent: 25px;
}

#heading1 {
  font-family: 'Crete Round', serif;
  color: #133436;
  font-size: 1.5em;
  text-transform: none;
  margin-left: auto;
  margin-right: auto;
  background-color: #e9e9e9;
}

#heading2 {
  font-family: 'ABeeZee', sans-serif;
  color: #cf9d04;
  font-size: 10em;
  text-transform: none;
  line-height: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: none;
}

.heading-text {
  text-align: center;
  overflow: hidden;

}

img {
  display: block;
  margin-right: 1em;
  overflow: hidden;
}
  .section-container {
    margin-top: 30px;
    margin-bottom:100px;
  }

  a {
    color: #c70015;
    text-transform: uppercase;
    font-family: 'Crete Round-italic', sans-serif;
  }
.first-line::first-line {
    color: #cf9d04;
  }

.sample-background {
  border-style: solid;
  border-color: #c70015;
  padding: 10px;
}

.first-line.sample-background {
  width: 65%;
  margin-right: 15px;
}

.about-background {
  border-style: ridge;
  border-color: #133436
  padding: 5px;
  background-color: #ffffff
}

.link-border:hover {
  border-style: solid;
  border-color: #cf9d04;
  padding: 2px;
  color: #133436
}
.button

/* About page aside */


.main-container {
    margin: auto;
    margin-top: 0;
    margin-right: 15px;
    padding-top: 0;
    min-width: 600px;
    max-width: 1280px;
    background-color: #fff;
    clear: both;
}

.main-container main {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
}

.main-container h1 {
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.4em;
    word-spacing: 1em;
    padding: 2em 0 1em 0;
    margin-top: 0 !important;
    color: #133436;
    background-color: #fff;
}

.main-container p {
    padding: 1em 2em;
    text-indent: 1.5em;
    line-height: 1.5em;
    text-align: justify;
    color: #133436;
}

.main-container aside.content-side {
    float: right;
    margin: 2em;
    margin-top: 4em;
    padding: 0;
    width: 25%;
    color: #fff;
    font-weight: lighter;
}

aside .aside-head {
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    background-color: #133436;
}

aside .aside-text {
    padding-top: 2em;
    padding-bottom: 2em;
}

aside .aside-text p {
    font-style: italic;
    padding: 0.25em 1em;
    margin: 0;
    text-align: left;
    color: #133436;
}
/*
aside .aside-img {
   border: 3px dashed #27435C;
   border-radius: 500px;
   background-color: #fff;
   width: 200px;
   height: 200px;
   margin: auto;
   margin-bottom: 2em;
}

aside .aside-img img {
    display: block;
    padding: 10px;
    position: relative;
    margin: 1.5em auto;
}
*/
