
body {
  background: #e9e4e4;
  font-size: 16px;
  line-height: 1.45em;
}

* {
  font-family: 'Abeezee', serif;
}
h1 {
  font-family: 'Crete Round', sans-serif;
}
#heading1 {
  font-family: 'Crete Rounded', serif;
  color: #001816;
  font-size: 1.5em;
  }
#heading2 {
  font-family: 'ABeeZee', sans-serif;
  color: #cf9d04;
  font-size: 4em;
  }

.heading-text {
  text-align: center;
  }

  img {
    display: block;
    margin: auto;
  }
