.main-container {
  display: flex;
  flex-wrap: wrap;
}

/* Header with logo*/

.logo {
  width: 100%;
  background-color: #b8baa8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1em;
}

/* Navigation*/

.menu-section {
  width: 100%;
  display: flex;
  background-color: #09161f;
}

nav {

  display: flex;
  flex-direction: row;
    width: 100%;
  justify-content: space-around;
  }

.menu a {
    flex-grow: 1;
  font-family: Raleway-Bold, sans-serif;
  color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

/*Body*/

body {
  font-family: Bitter-Regular, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  padding: .5em;
}

 a:hover {
   background-color: #fff;
   color: #09161f;
 }

 q {
   background-color: #09161f;
   color: #fff;
   float: right;
   width: 30%;
   padding: 1em;
   min-width: 200px;
   align: right;

 }

img {
  margin: 15 0;
}

h1 {
  font-family: Bitter-Bold; serif;
  font-size: 2.4em;
  margin: .5em;
}

p {
  font-family: Raleway-Regular, sans-serif;
}

.main-content {
  background-color: #d28877;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.main-content q {
    display: inline;
}


.flexbox {
  background-color: #733136;
  color: #fff;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.layout-examples {
  background-color: #b8baa8;
  display: flex;
  flex-wrap: wrap;
}

.layout-examples img {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
}
/*Media Queries*/


@media screen and (max-width: 480px) {
  header {width: 100%; order: 1;}
  .main-content {width: 100%; order: 2;}
  .flexbox {width: 100%; order: 3;}
  nav {width: 100%; order: 4;}
  .layout-examples {width: 100%; order: 5;}
}

  @media screen and (min-width: 690px) {
    .logo {width: 100%; order: -99;}
    .main-content {width: 25%; order: 4; flex-grow: 4;}
    .flexbox {width: 25%; order: 3; flex-grow: 1;
     border: 5px solid #fff; font-size: 1.5em;}
    .menu-section {width: 100%; order: 2;}
    .layout-examples {width: 100%; order: 5;}
}

  @media screen and (min-width: 980px) {
    .logo {width: 100%; order: 2;}
    .main-content {width: 67%; order: 3;}
    .flexbox {width: 33%; order: 4;
    border: none; font-size: 1em;}
    .menu-section {width: 100%; order: 1;}
    .layout-examples {width: 100%; order: 5;
    justify-content: space-around;}
}
